* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.upper-right {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 10px;
  margin-top: 1rem;
}

header a {
    background-color: GhostWhite;
    padding: 0.5rem;
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
    text-decoration: none;
    color: grey;
}

header a:hover {
    background-color: Gainsboro;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 2rem;
}

.container h1 {
    font-size: 4rem;
}

#search {
  width: 400px;
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  border: 1px solid #ccc;
}

#search:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 6px;
}


#search-button {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}
