* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-top: 1rem;

}

header a {
    background-color: GhostWhite;
    padding: 0.5rem;
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
    text-decoration: none;
    color: grey;
}

header a:hover {
    background-color: Gainsboro;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

